<a href="https://colab.research.google.com/github/breef-droid/PythonDataScienceHandbook/blob/master/Codewars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Sum of parts
#### https://www.codewars.com/kata/5ce399e0047a45001c853c2b/train/python

In [ ]:
def parts_sums(ls):
    result = [sum(ls)]
    for item in ls:
        result.append(result[-1] - item)
    return result

In [ ]:
ls = [0, 1, 3, 6, 10]
parts_sums(ls)

[20, 20, 19, 16, 10, 0]

### Buying a car
#### https://www.codewars.com/kata/554a44516729e4d80b000012/train/python

In [ ]:
def nbMonths(startPriceOld, startPriceNew, savingperMonth, percentLossByMonth):
    # your code
    trade_price = -1
    month = 0
    savings = 0

    if startPriceOld >= startPriceNew:
        return [0, startPriceOld - startPriceNew]

    while trade_price < 0:
        savings += savingperMonth
        if month % 2 == 0:
            percentLossByMonth = percentLossByMonth
        elif month % 2 == 1:
            percentLossByMonth += 0.5
        startPriceOld = startPriceOld * (1 - percentLossByMonth/100)
        startPriceNew = startPriceNew * (1 - percentLossByMonth/100)
        trade_price = (startPriceOld - startPriceNew) + savings
        month += 1
        print(f'Month: {month}, OldPrice: {startPriceOld}, NewPrice: {startPriceNew}, %depn {percentLossByMonth}, Trade {trade_price}')
    return [month, round(trade_price, 0)]
        
# def calc_price(startPriceOld, startPriceNew, savingperMonth, percentLossByMonth):
#     return (startPriceOld * (1-percentLossByMonth/100) - startPriceNew * (1-percentLossByMonth/100) + savingperMonth)

In [ ]:
nbMonths(2000, 8000, 1000, 1.5)

Month: 1, OldPrice: 1970.0, NewPrice: 7880.0, %depn 1.5, Trade -4910.0
Month: 2, OldPrice: 1930.6, NewPrice: 7722.4, %depn 2.0, Trade -3791.7999999999993
Month: 3, OldPrice: 1891.9879999999998, NewPrice: 7567.951999999999, %depn 2.0, Trade -2675.964
Month: 4, OldPrice: 1844.6882999999998, NewPrice: 7378.753199999999, %depn 2.5, Trade -1534.0648999999994
Month: 5, OldPrice: 1798.5710924999998, NewPrice: 7194.284369999999, %depn 2.5, Trade -395.7132774999991
Month: 6, OldPrice: 1744.6139597249999, NewPrice: 6978.455838899999, %depn 3.0, Trade 766.1581208250009

[6, 766.1581208250009]

### Multiplication Table
#### https://www.codewars.com/kata/534d2f5b5371ecf8d2000a08/train/python

In [ ]:
def multiplication_table(size):
    res = []
    for num_row in range(1, size + 1):
        row_table = []
        for num_column in range(1, size + 1):
            row_table.append(num_row * num_column)
        res.append(row_table)
    return res

In [ ]:
multiplication_table(4)

[[1, 2, 3, 4], [2, 4, 6, 8], [3, 6, 9, 12], [4, 8, 12, 16]]

### Triple Trouble
#### https://www.codewars.com/kata/55d5434f269c0c3f1b000058

In [ ]:
from collections import Counter

def triple_double(num1, num2):
    num1 = [int(num) for num in str(num1)]
    num2 = [int(num) for num in str(num2)]
    
    group1 = Counter(num1)
    group2 = Counter(num2)

    for key, value in group1.items():
        if value > 2 and key in group2.keys():
            if group2[key] == 2:
                print(key, value)
                return 1
    return 0

In [ ]:
triple_double(10560002, 100)

0 4

1

### Encrypt this! (25/09/2021)
#### https://www.codewars.com/kata/5848565e273af816fb000449

In [ ]:
def encrypt_this(text):
    encrypt_word = []

    for word in text.split():
        word = list(word)
        word[0] = str(ord(word[0]))
        if len(word) > 2:
            word[1], word[-1] = word[-1], word[1]
        encrypt_word.append(''.join(word))

    return ' '.join(encrypt_word)

In [ ]:
test = "The more he saw the less he spoke"
encrypt_this(test)

'84eh 109ero 104e 115wa 116eh 108sse 104e 115eokp'

### A Rule of Divisibility by 13
#### https://www.codewars.com/kata/564057bc348c7200bd0000ff/train/python

In [ ]:
def thirt(n):
    rem = [1,10,9,12,3,4]
    digits = [int(dig) for dig in str(n)][::-1]
    result = 0
    
    while len(digits) > 2:
        for i in range(0, len(digits)):
            result += digits[i] * rem[i % 6]
        digits = [int(dig) for dig in str(result)][::-1]
        result = 0

    num = [str(n) for n in digits[::-1]]
    num = int(''.join(num))

    return num

In [ ]:
thirt(1234567)

87

### Meeting
#### https://www.codewars.com/kata/59df2f8f08c6cec835000012

In [ ]:
def meeting(s):
    names_list = list()
    for name in s.split(';'):
        name = name.upper()
        name = tuple(name.split(':')[::-1])
        names_list.append(name)
    names_list = sorted(names_list, key= lambda element: (element[0], element[1]))
    res = str()
    for e in names_list:
        e = str(e).replace("'", "")
        res += str(e)
    return res

In [ ]:
s = "Fred:Corwill;Wilfred:Corwill;Barney:Tornbull;Betty:Tornbull;Bjon:Tornbull;Raphael:Corwill;Alfred:Corwill"
meeting(s)

'(CORWILL, ALFRED)(CORWILL, FRED)(CORWILL, RAPHAEL)(CORWILL, WILFRED)(TORNBULL, BARNEY)(TORNBULL, BETTY)(TORNBULL, BJON)'

### Luhn Algorithm
#### https://www.codewars.com/kata/5418a1dd6d8216e18a0012b2

In [ ]:
def validate(n):
    n = [int(digit) for digit in str(n)][::-1]
    for num in range(1, len(n), 2):
        if len(str(n[num] * 2)) > 1:
            n[num] = n[num] * 2 - 9
        else:
            n[num] *= 2
    
    return sum(n) % 10 == 0

In [ ]:
validate(8511025042084)

True

### Count IP Addresses
#### https://www.codewars.com/kata/526989a41034285187000de4/train/python

#### 0.0.0.0 -> 255.255.255.255

In [ ]:
def ips_between(start, end):
    return abs(ip_to_int(start) - ip_to_int(end))

def ip_to_int(ip):
    ip = [int(i) for i in ip.split('.')][::-1]
    int_result = 0
    for index, value in enumerate(ip):
        int_result += value * (2 ** (index * 8))
    return int_result

In [ ]:
# ip_to_int("64.233.187.99")
ips_between("10.0.0.0", "10.0.0.50")

-50

### Gap in primes
#### https://www.codewars.com/kata/561e9c843a2ef5a40c0000a4/train/python

In [ ]:
def gap(g, m, n):
    last_prime = 2
    for i in range(m, n+1):
        prime = True

        for j in range(2, int(n**.5)+1):
            if i % j == 0:
                prime = False
                break

        if prime:
            if i - last_prime == g:
                return [last_prime, i]
            else:
                last_prime = i

In [ ]:
gap(2, 100, 105)

[101, 103]

### ProjectEuler: Multiples of 3 or 5
#### https://projecteuler.net/problem=1
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
#returns list of multiples within specified limit
def find_multiples(multiple, limit):
    result = list()
    current_mult = multiple
    for i in range(1, (limit + multiple) // multiple):
            if current_mult * i < limit:
                result.append(current_mult * i)
    return result

# returns the sum of the union of two sets
def sum_multiples(multiples, limit):
    set_1 = set(find_multiples(multiples[0], limit))
    set_2 = set(find_multiples(multiples[1], limit))
    return sum(set_1.union(set_2))

In [ ]:
sum_multiples([3,5], 1000)

233168

### Codewars: Joesphus

In [ ]:
# n = people, k = skip value
def josephus2(n,k):
    n = list(range(1,n+1))
    i = -1
    while len(n) > 1:
        i = (i + k) % len(n)
        n = n[:i] + n[i+1:]
        i -= 1

    return n[0]

In [ ]:
josephus_survivor(7,3)

3

### Codewars: ROT-13
#### https://www.codewars.com/kata/52223df9e8f98c7aa7000062/train/python

In [ ]:
import string

def rot13(message):
    # in dict comprehension the key is set once, no need to set again in else statement
    alph_set = {key: chr((ord(key) + 13)) if ord(key) + 13 < 123 else chr(ord(key) - 13) for key in string.ascii_lowercase}
    # for loop method
    # alph_set_2 = dict()
    # for key in string.ascii_lowercase:
    #     if ord(key) + 13 < 123:
    #         alph_set_2[key] = chr(ord(key) + 13)
    #     else:
    #         alph_set_2[key] = chr(ord(key) - 13)
    result = ''
    for i in message:
        if i.isalpha():
            if i.isupper():
                result += alph_set[i.lower()].upper()
            else:
                result += alph_set[i.lower()].lower()
        else:
            result += i
    return result

In [ ]:
rot13('1')

'1'

In [ ]:
45*60

2700

In [ ]:
words = 'His e-mail is q-lar@freecodecamp.org'
pieces = words.split()
pieces

['His', 'e-mail', 'is', 'q-lar@freecodecamp.org']

In [ ]:
def solution(string):
    return string[::-1]

# Codewars: Prefill an Array(6kyu)<br>
https://www.codewars.com/kata/54129112fb7c188740000162

In [ ]:
def prefill(n,v=-1): # can change this to v= None and remove if statement
    try:
        return [v] * int(n)
    except:
        if v == -1:
            return [None]  
        else:
            return TypeError(f'{n} is invalid')

# Codewars: Coloured Triangles(7kyu)<br>
https://www.codewars.com/kata/5a25ac6ac5e284cfbe000111/train/python

In [ ]:
def triangle(row):
    solution = {
        'GG' : 'G',
        'BG' : 'R',
        'GB' : 'R',
        'RG' : 'B',
        'GR' : 'B'
    }
    return None

[]

# 6 kyu Matrix Addition

In [ ]:
def matrix_addition(a, b):
    res = []
    for ind, val in enumerate(a):
        temp_l = []
        for sub_ind, sub_val in enumerate(val):
            temp_l.append(a[ind][sub_ind] + b[ind][sub_ind]) # temp list for sum of items in sublist
        res.append(temp_l)
    return res

In [ ]:
#test
a =   [ [1, 2], [1, 2] ]
b =   [ [2, 3], [2, 3] ]
matrix_addition(a, b)

0 [1, 2] 0 1
[3]
0 [1, 2] 1 2
[3, 5]
1 [1, 2] 0 1
[3]
1 [1, 2] 1 2
[3, 5]

[[3, 5], [3, 5]]

# 6 kyu Playing with passphrases
https://www.codewars.com/kata/559536379512a64472000053/train/python

In [ ]:
def play_pass(s, n):
    res = shift_nums(s, n)
    return case_change(res)[::-1]

def shift_nums(s, n):
    res = ''
    # shift each letter by n
    for letter in s.lower(): # lower case used because case is irrelevant
        # wrap around alphabet
        if letter.isalpha():
            if ord(letter) + n > 122:
                temp_letter = chr((ord(letter) + n)%122 + 96)
            else: temp_letter = chr(ord(letter) + n)
            res += temp_letter
        # number converted to complement of 9
        elif letter.isnumeric(): 
            letter = 9 - int(letter)
            res+= str(letter)
        else: res+= letter
    return res

def case_change(text):
    result = ''
    for ind, val in enumerate(text):
        if val.isalpha():
            # odd even check
            if ind%2 == 0:
                result += val.upper()
            else: result += val.lower()
        else: result += val
    return result

# 5 kyu Convert PascalCase string into snake_case
https://www.codewars.com/kata/529b418d533b76924600085d/train/python

In [ ]:
def to_underscore(string):
    result = ''
    for ind, char in enumerate(str(string)):
        if char.isupper() and ind != 0: # first char upper
            result += "_" + char.lower()
        elif ind == 0:
            result += char.lower() # first char
        else: result += char # remaining chars
    return result

# 5 kyu Beeramid
https://www.codewars.com/kata/51e04f6b544cf3f6550000c1

In [ ]:
def beeramid(bonus, price):
    level = 1
    sum = 0
    total_beers = (bonus - (bonus%price))/price
    while sum <= total_beers:
        sum += level ** 2
        level += 1 
    return level -2 if level -2 >=0 else 0

# 5 kyu Convert A Hex String To RGB
https://www.codewars.com/kata/5282b48bb70058e4c4000fa7/train/python

In [ ]:
def hex_string_to_RGB(hex_string):
    return {'r': int(hex_string[1:3],16), 'g': int(hex_string[3:5],16), 'b': int(hex_string[5:],16)}

In [ ]:
# test
tests = ['#FF9933', '#beaded', '#000000', '#111111', '#Fa3456']
for test in tests:
    print(hex_string_to_RGB(test))

{'r': 255, 'g': 153, 'b': 51}
{'r': 190, 'g': 173, 'b': 237}
{'r': 0, 'g': 0, 'b': 0}
{'r': 17, 'g': 17, 'b': 17}
{'r': 250, 'g': 52, 'b': 86}

# 5yu Merged String Checker
https://www.codewars.com/kata/54c9fcad28ec4c6e680011aa/train/python

In [ ]:
def is_merge(s, part1, part2):
    s, part1, part2 = make_list(s), make_list(part1), make_list(part2)
    check = s.copy()
    order = []
    for ind, char in enumerate(s):
        if char in part1:
            order.append(part1.index(char))
            part1.remove(char)
        elif char in part2:
            order.append(part2.index(char))
            part2.remove(char) 
        else: return False
        check.remove(char)
    print(f's: {s}, check: {check}, p1: {part1}, p2:{part2}, order: {order}')
    if len(order) > 0:
        if max(order) > 0:
            return False
    if max(len(check), len(part1), len(part2)) > 0:
        return False
    else: return True

def make_list(s):
    return [char for char in s]

In [ ]:
s = 'codewars'
part1 = 'code'
part2 = 'wars'
is_merge(s, part1, part2)

s: ['c', 'o', 'd', 'e', 'w', 'a', 'r', 's'], check: [], p1: [], p2:[], order: [0, 0, 0, 0, 0, 0, 0, 0]

True

# 5 kyu Mean Square Error
https://www.codewars.com/kata/51edd51599a189fe7f000015

In [ ]:
def solution(array_a, array_b):
    return sum([(abs(a - b) ** 2) for a, b in zip(array_a, array_b)]) / len(array_a)

In [ ]:
#test
a1 = [1,2,3]
a2 = [4,5,6]
solution(a1, a2)

9.0

# 5 kyu Vector class
https://www.codewars.com/kata/526dad7f8c0eb5c4640000a4

In [ ]:
class Vector():
    def __init__(self, array):
        self.array = array
        self.length = len(self.array)

    def __str__(self):
        return f'({",".join(str(x) for x in self.array)})'

    def equals(self, value):
        return all([value.array[ind] == self.array[ind] for ind in range(len(self.array))])

    def add(self, value):
        self.length_check(value)
        return Vector([value.array[ind] + self.array[ind] for ind in range(len(self.array))])

    def subtract(self, value):
        self.length_check(value)
        return Vector([self.array[ind] - value.array[ind] for ind in range(len(self.array))])

    def dot(self, value):
        self.length_check(value)
        return sum([value.array[ind] * self.array[ind] for ind in range(len(self.array))])

    def norm(self):
        return sum([val ** 2 for val in self.array]) ** (1/2)
    
    
    def length_check(self, value):
        if value.length != self.length:
            raise Exception('Array lengths are not equal')

In [ ]:
a = Vector([1,2, 3])
b = Vector([3,4,5])
c = Vector([5, 6, 7, 8])
d = a.add(b)
d.array

[4, 6, 8]

In [ ]:
a.add(b).equals(d)

True

In [ ]:
print(a.__str__)

<bound method Vector.__str__ of <__main__.Vector object at 0x7f357eaea790>>

In [ ]:
a.add(b).array    # should return a new Vector([4, 6, 8])

[4, 6, 8]

In [ ]:
a.subtract(b).array # should return a new Vector([-2, -2, -2])

[-2, -2, -2]

In [ ]:
a.dot(b)      # should return 1*3 + 2*4 + 3*5 = 26

26

In [ ]:
a.norm()      # should return sqrt(1^2 + 2^2 + 3^2) = sqrt(14)

3.7416573867739413

In [ ]:
a.add(c)      # raises an exceptiona.length

Exception: ignored

# 5kyu Longest Common Subsequence
https://www.codewars.com/kata/52756e5ad454534f220001ef

In [ ]:
def lcs(x, y):
    res = []
    ind = 0
    for item in y:
        if item in x[ind:]:
            res += [item]
            ind = x.index(item) + 1
    return ''.join(res)

In [ ]:
tests = [['a', 'b'], ['a', 'a'], ['abc', 'ac'], ['abcdef', 'abc'], ['abcdef','acf'], ['anothertest', 'notatest'], ['132535365', '123456789'], ['finaltest', 'zzzfinalzzz']]

In [ ]:
for t in tests:
    print(lcs(t[0], t[1]))

a
ac
abc
acf
notatest
12356
final

# 6kyu Street Fighter1 - Character Selection
https://www.codewars.com/kata/5853213063adbd1b9b0000be

In [ ]:
MOVES_HOR = {
    "left": -1,
    "right": 1
}

MOVES_VER = {
    "up": -1,
    "down": 1
}

def street_fighter_selection(fighters, initial_position, moves):
    current_row, current_column = initial_position[0], initial_position[1]
    row_len = len(fighters[0]) - 1
    path = [] # path to take through fighter list
    fighter_res = []
    for move in moves:
        #horizontal movement
        if move in MOVES_HOR.keys():
            current_column += MOVES_HOR[move]
            path.append([current_row, current_column % (row_len + 1)])
        #vertical movement
        if move in MOVES_VER.keys():
            if 0 < current_row + MOVES_VER[move] > 1:
                pass
            else:
                current_row += MOVES_VER[move]
            path.append([current_row, current_column % (row_len + 1)])
    for p in path:
        fighter_res.append(fighters[p[0]][p[1]])
    return fighter_res

In [ ]:
fighters = [
	["Ryu", "E.Honda", "Blanka", "Guile", "Balrog", "Vega"],
	["Ken", "Chun Li", "Zangief", "Dhalsim", "Sagat", "M.Bison"]
]
moves =  ["up","left","down","right"]*2
initial_position = (0,0)

In [ ]:
street_fighter_selection(fighters, initial_position, moves)

['Ryu', 'Vega', 'M.Bison', 'Ken', 'Ryu', 'Vega', 'M.Bison', 'Ken']

## 6 kyu: Pair of gloves
https://www.codewars.com/kata/58235a167a8cb37e1a0000db/train/python<br>

In [38]:
from collections import Counter
def number_of_pairs(gloves):
    return sum(count // 2 for count in Counter(gloves).values())

In [39]:
tests = [["red", "green", "red", "blue", "blue"], ["red", "red", "red", "red", "red", "red"],["gray","black","purple","purple","gray","black"], ["red","green","blue","blue","red","green","red","red","red"]]

In [40]:
for test in tests:
    print(number_of_pairs(test))

2
3
3
4